
body {
  background-image: url('../src/assets/background.jpg');
  position: flex;
  background-size: auto;
  /* background-size: 100% auto; */

  /* min-width: 100%; */
  background-attachment: fixed;
  /* min-height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  margin-top: 0px;
}

footer {
  font-size: 12px;
  color: white;
  border-top-style: solid;
  border-top-color: rgb(250, 145, 65);
  border-top-width: 3px;
  background-color: rgb(61, 61, 61);
  position: fixed; 
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
}

.containerHome
{
  margin-left: 25px;
  margin-right: 25px;
  width: 98%;
  margin-top: 10px;
  background-color: White;
  border-width: 3px;
  border-radius: 15px;
  border: 3px solid rgb(44, 92, 44);
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;

}

.containerHomeLogin {
  width: 40%;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  background-color: White;
  border-width: 3px;
  border-radius: 15px;
  border: 3px solid rgb(44, 92, 44);
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
}